@import url('https://fonts.googleapis.com/css?family=Inter');

.interfont{
  font-family: 'Inter';
}

#app{
  font-family: 'Inter';
  background-color: white;
}

.header_right{
    margin-right: 3%;
}

.custom_popover{
    background-color: skyblue;

}

.header_right:hover{
    background-color: gainsboro;
}
.activeMenuItem {
    background-color: #f0f0f0;
  }

  .sidebarclass::-webkit-scrollbar {
    display: none;
}

