@import url('https://fonts.googleapis.com/css?family=Inter');

.interfont{
  font-family: 'Inter';
}

#app{
  font-family: 'Inter';
  background-color: white;
}
/* Add this to your CSS file or Tailwind's custom styles */


.header_right{
    margin-right: 3%;
}

.custom_popover{
    background-color: skyblue;

}

.header_right:hover{
    background-color: gainsboro;
}
.activeMenuItem {
    background-color: #f0f0f0;
  }

  .sidebarclass::-webkit-scrollbar {
    display: none;
}
.home-container{
  background-image: url('../assets/backgrounds/home-bg.png');
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}
.custom-scrollbar {
  border-radius: 12px; /* Rounded corners for the container */
  scroll-behavior: smooth; /* Smooth scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 12px; /* Make scrollbar rounded */
}



.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 12px; /* Rounded corners for the track */
}


