@import url('https://fonts.googleapis.com/css?family=Inter');

.interfont{
  font-family: 'Inter';
}

#app{
  font-family: 'Inter';
  background-color: white;
}
/* Add this to your CSS file or Tailwind's custom styles */


.header_right{
    margin-right: 3%;
}

.custom_popover{
    background-color: skyblue;

}

.header_right:hover{
    background-color: gainsboro;
}
.activeMenuItem {
    background-color: #f0f0f0;
  }

  .sidebarclass::-webkit-scrollbar {
    display: none;
}
.home-container{
  background-image: url('../assets/backgrounds/home-bg.png');
  background-size: cover;
  background-position: center;
}
